/* Code tidied up by ScrapBook */
.b-comment-reply { color: rgb(128, 128, 128); padding: 0px 3px; }
.b-comment-reply .button { color: rgb(66, 139, 202); cursor: pointer; border-bottom: 1px dotted rgb(66, 139, 202); font-size: 0.8em; }
